@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: var(--back-color);
}

a{
    text-decoration: none;
    color: white;
}

button{
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-size: 12pt;
}

select{
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 12pt;
}

.new-task{
    position: fixed;
    top: 87%;
    right: 80%;
    background-color: var(--primary-color);
    padding: 8px 15px;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 10px;
}

.back-btn{
    position: fixed;
    top: 15%;
    right: 80%;
    font-weight: bold;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.show-content{
    display: flex;
    flex-direction: column;
}

.task-header{
    display: flex;
    justify-content: space-between;
}

.task-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 15px;
    margin-top: 20px;
}

.task-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-decription{
    width: 100%;
    max-width: 70%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 60%;
    background-color: var(--card);
    gap: 15px;
}

.card:hover{
    background-color: var(--card-hover); 
    cursor: pointer;
}

.btn{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 0 5px;
    background-color: var(--primary-color);
}

.btn:hover{
    background-color: var(--primary--color-hover);
}

.btn.delete{
    background-color: var(--delete-color);
}

.btn.btn.delete:hover{
    background-color: var(--delete-color-hover);
}

.tag-span{
    background-color: #5f67df;
    padding: 5px;
    border-radius: 15px;
    font-size: x-small;
}

.search-form{
    width: 100%;
}

.search-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px;
    gap: 5px;
}

.logout{
    position: fixed;
    right: 15%;
    top: 5%;
}

@media only screen and (max-width: 725px){
    .search-content{
        flex-direction: column;
    }
    .task-header{
        flex-direction: column;
    }
}

:root{
    --back-color: #252745;
    --primary-color: #b60ac9;
    --primary--color-hover: #e02eff;
    --delete-color: #e33a2e;
    --delete-color-hover: #f72011;
    --card: #32345c;
    --card-hover: #353c9c;
}
